---
export const prerender = false; // Not needed in 'server' mode

const { author } = Astro.params;

import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from '../../components/Header.astro';
import Section from '../../components/Sections/Section.astro';
import Social from '../../components/Social.astro';
import Poll from '../../components/Polls.astro';
import '../../styles/global.css';
import { getAuthorArticles } from '../../utils/db';
import { normalizeText } from "../../utils/data";

const authorData = await getAuthorArticles(author);

if (!authorData) {
  return Astro.rewrite('/404');
}

const name = authorData?.author?.display_name
---
<BaseLayout title={name + " - The Triangle"}>
    <Header/>
    <h1 class="mt-2 xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] font-playfair text-[36px]">Articles by {name}</h1>
    <Section articles={authorData?.articles?.slice(0, 9)} style="5-3-4"/>
    <Section articles={authorData?.articles?.slice(9, 13)} style="row"/>
    {authorData?.articles?.length > 13 && <div class="grid grid-cols-[1fr] sm:grid-cols-[8fr_4fr] mt-2 xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] mb-[8px] divide-x divide-triangleBlue pt-[5px]">
        <div id="main-left" class="main-side">
            <Section section="" articles={authorData?.articles?.slice(13, 25)} includeName style="list"/>
        </div>
        <div id="main-right" class="hidden sm:block main-side [&>*:not(:first-child)]:border-t-[1px] [&>*:not(:first-child)]:border-solid [&>*:not(:first-child)]:border-triangleBlue">
            <Poll />
            <Social />
        </div>
    </div>}
</BaseLayout>