@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-blue: #2563EB;
  --color-gray: #E5E7EB;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

#one-hundred{
	background: url("/images/100YearBanner.png") no-repeat top center fixed;
    background-size: cover;
}

#one-hundred::before{
	content:'';
	width:100%;
	height: 100%;
	background: linear-gradient(to top, #2563EB, rgba(0,0,0,0));;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

.header-section {
  border-bottom: 1.5px solid #000; 
  padding-bottom: 15px;
}

.scrollstickyleft{
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 16px;
}

.scrollstickyright{
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
}

#main-left {
  padding-right: 5px;
  margin-top: -5px;
}

#main-right {
  padding-left: 12px;
}

#main-left section:first-child {
  border-top: 0px;
  margin-top: 0px;
}

#article figure img{
  width: 100%;
}

#article figure:has(+ p) img{
  aspect-ratio: 1.75;
  object-fit:cover;
}

#article figure{
  max-width: 100% !important;
}

#article figure figcaption{
  @apply font-roboto-slab font-light italic text-[12px] md:text-[14px]
}

#article p {
  @apply font-crimson my-[16px] text-[14px] sm:text-[18px];
}

#article p a {
  font-weight: 500;
  text-decoration: underline;
  color: #00006c;
}

#article strong {
  @apply font-roboto-slab
}

.staff-row{
	display: flex; 
	gap: 12px;
	margin-bottom: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}


.staff-card {
	display: flex; 
	flex-direction: column; 
	width: calc(20% - 20px);
	text-align: center; 
	gap: 5px;
	font-family: sans-serif; 
	border-radius: 5px; 
	padding: 5px 5px 10px;
	font-size: 14px;
  justify-content: start;
}
.staff-card b {
  @apply text-triangleBlue
}
.staff-row-small .staff-card {
	width: calc(12% - 15px);
	font-size: 14px;
}
.staff-row-small .staff-card b{
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

.staff-card img {
	width: 100%;
	aspect-ratio:1;
	object-fit:cover;
  background-image: url("/proxy/wp-content/uploads/2025/04/default-profile-picture1-1.jpg");
}

#constitution h2 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 8px;
}

#constitution h3 {
  font-size: 18px;
  margin-top: 8px;
  text-decoration: underline;
}
#constituion ol li {
  list-style: decimal;
}

.hiddenSearch{
  width: 0px; 
  padding: 0px; 
  border: 0px
}

.staff-row{
	display: flex; 
	gap: 12px;
	margin-bottom: 20px;
	flex-wrap: wrap;
	justify-content: start;
}

.staff-card {
	display: flex; 
	flex-direction: column; 
	width: calc(20% - 20px);
	text-align: center; 
	gap: 5px;
	font-family: sans-serif; 
	border-radius: 5px; 
	padding: 5px 5px 10px;
	font-size: 14px
}
.staff-row-small .staff-card {
	width: calc(12% - 15px);
	font-size: 14px;
}
.staff-row-small .staff-card b{
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

.staff-card img {
	width: 100%;
	aspect-ratio:1;
	object-fit:cover;
}

.material-icons {vertical-align:-14%}
.material-symbols-outlined {
    font-size: 40px;
}
.team-container {
	margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    color: #07294D !important;
    gap: 30px;
    font-family: Roboto Slab, Helvetica, Arial, sans-serif;
    justify-content: center;
}
.apply-btn {
    width: 100%;
    padding: 15px 5px;
    border: 2px solid #07294D;
    border-radius: 5px;
    text-align: center;
    font-family: Roboto Slab, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #07294D;
    transition: 400ms;
    display: block;
}
.apply-btn:hover {
    border: 2px solid #73BBEE;
    transform: scale(1.01);
}
.team-option {
    width: calc(25% - 45px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: 400ms;
    text-wrap: wrap;
    gap: 5px;
	text-align: center;
}
.team-option:hover{
    color: #73BBEE;
    transform: scale(1.1);
}
.team-info {
    width: 100%;
}

.countdown {
	width: 100%;
	font-family: Roboto Slab, Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 5px;
	background: #07294D;
	color: white;
}
.countdown #title{
	font-size: 32px;
}
.countdown #time {
	font-size: 28px;
}
.countdown #time span {
	text-align: center;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}
.countdown #time span i{
	font-size: 12px;
	width: 100%;
}

@media (max-width: 960px) {
	.staff-row {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0px;
	}
  .staff-card {
    width: calc(50% - 20px)
  }
	.staff-row-small .staff-card {
		width: calc(33% - 20px);
		font-size: 14px;
	}
}


@media (max-width: 640px) {
	.staff-row {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0px;
	}
  .staff-card {
    width: calc(75%);
		font-size: 14px
  }
	.staff-row-small .staff-card {
		width: calc(50% - 20px);
		font-size: 14px;
	}
	.team-container{
		gap: 5px;
	}
	.team-option{
    width: calc(50% - 40px);
		font-size: 12px;
}
#one-hundred{
	background: url("/images/100YearBannerMobile.png") no-repeat top center;
    background-size: cover;
}
#article figure:has(+ p) img{
  aspect-ratio: 1.5;
  object-fit:cover;
}

}