---
    export const prerender = true;
    import Header from '../components/Header.astro';
    import BaseLayout from "../layouts/BaseLayout.astro";
    import '../styles/global.css';
---
<style>
    iframe {
        width: 100%;
        height: 600px;
    }
</style>
<BaseLayout title="Find a Triangle - The Triangle">
    <Header/>
    <section class="xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto]">
        <h1 class="font-playfair text-[42px] mb-[16px]"> Find a Triangle </h1>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1H0gtrP-tkJs0Zed09zFM_IzF3PpsoRo&ehbc=2E312F&noprof=1"></iframe>
    </section>
</BaseLayout>