---
    export const prerender = true;
    import BaseLayout from "../layouts/BaseLayout.astro";
    import Header from '../components/Header.astro';
    import '../styles/global.css';
---
<BaseLayout title="Staff - The Triangle">
    <Header/>
<section class="xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto]">
    <h1 class="font-playfair text-[42px] mb-[16px]"> Our Staff </h1>
    <div class="staff-row">
        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/SanjanaBandi_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Sanjana Bandi</h3>
            <hr style="width:50%;margin: auto;"/>
            <b> Editor-in-Chief</b>
            <a href="mailto:editor@thetriangle.org">editor@thetriangle.org</a>
            <a href="mailto:sanjana.bandi@thetriangle.org">sanjana.bandi@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/EmmaYashinsky_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Emma Yashinsky</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Managing Editor </b>
            <a href="mailto:managingeditor@thetriangle.org">managingeditor@thetriangle.org</a>
            <a href="mailto:emma.yashinsky@thetriangle.org">emma.yashinsky@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/KaseyShamis_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Kasey Shamis</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Staff Manager </b>
            <a href="mailto:apply@thetriangle.org">apply@thetriangle.org</a>
            <a href="mailto:emma.yashinsky@thetriangle.org">kasey.shamis@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/GraceDermody_byKaseyShamis_Scaled.jpg"/>
            <h3 style="margin-bottom: 0px;">Grace Dermody</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Production Manager </b>
            <a href="mailto:production@thetriangle.org">production@thetriangle.org</a>
            <a href="mailto:grace.dermody@thetriangle.org">grace.dermody@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/SorayaJimenez_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Soraya Jimenez</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Business Manager </b>
            <a href="mailto:business@thetriangle.org">business@thetriangle.org</a>
            <a href="mailto:soraya.jimenez@thetriangle.org">soraya.jimenez@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/ChaseKurtz_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Chase Kurtz</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Business Manager </b>
            <a href="mailto:business@thetriangle.org">business@thetriangle.org</a>
            <a href="mailto:chase.kurtz@thetriangle.org">chase.kurtz@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/CarterBlake_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Carter Blake</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Chief Copy Editor </b>
            <a href="mailto:copyediting@thetriangle.org">copyediting@thetriangle.org</a>
            <a href="mailto:carter.blake@thetriangle.org">carter.blake@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/ErikHeyman-Meltzer_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Erik Heyman-Meltzer</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief News Editor </b>
            <a href="mailto:news@thetriangle.org">news@thetriangle.org</a>
            <a href="mailto:erik.heyman-meltzer@thetriangle.org">erik.heyman-meltzer@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/SubikshaGanesh_byKaseyShamis_Scaled.jpg"/>
            <h3 style="margin-bottom: 0px;">Subiksha Ganesh</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief News Editor </b>
            <a href="mailto:news@thetriangle.org">news@thetriangle.org</a>
            <a href="mailto:subiksha.ganesh@thetriangle.org">subiksha.ganesh@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/SophiaRemorenko_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Sophia Remorenko</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Comics Editor </b>
            <a href="mailto:comics@thetriangle.org">comics@thetriangle.org</a>
            <a href="mailto:sophia.remorenko@thetriangle.org">sophia.remorenko@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/CocoLi_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Coco Li</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Comics Editor </b>
            <a href="mailto:comics@thetriangle.org">comics@thetriangle.org</a>
            <a href="mailto:coco.li@thetriangle.org">coco.li@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/AvaBuckingham_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Ava Buckingham</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Sports Editor </b>
            <a href="mailto:sports@thetriangle.org">sports@thetriangle.org</a>
            <a href="mailto:ava.buckingham@thetriangle.org">ava.buckingham@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/JanineGin_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Janine Gin</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Sports Editor </b>
            <a href="mailto:sports@thetriangle.org">sports@thetriangle.org</a>
            <a href="mailto:janine.gin@thetriangle.org">janine.gin@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/RoccoFonseca_byKaseyShamis.jpg" />
            <h3 style="margin-bottom: 0px;">Rocco Fonseca</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Photo Editor </b>
            <a href="mailto:photos@thetriangle.org">photos@thetriangle.org</a>
            <a href="mailto:rocco.fonseca@thetriangle.org">rocco.fonseca@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/NavneethNalajala_byKaseyShamis.jpg" />
            <h3 style="margin-bottom: 0px;">Navneeth Nalajala</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Photo Editor </b>
            <a href="mailto:photos@thetriangle.org">photos@thetriangle.org</a>
            <a href="mailto:navneeth.nalajala@thetriangle.org">navneeth.nalajala@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/AudreyScott_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Audrey Scott</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief A&E Editor </b>
            <a href="mailto:entertainment@thetriangle.org">entertainment@thetriangle.org</a>
            <a href="mailto:audrey.scott@thetriangle.org">audrey.scott@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/BobbySaunders_byKaseyShamis.jpg" />
            <h3 style="margin-bottom: 0px;">Bobby Saunders</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief A&E Editor </b>
            <a href="mailto:entertainment@thetriangle.org">entertainment@thetriangle.org</a>
            <a href="mailto:bobby.saunders@thetriangle.org">bobby.saunders@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/LenaLuciano_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Lena Luciano</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Opinion Editor </b>
            <a href="mailto:opinion@thetriangle.org">opinion@thetriangle.org</a>
            <a href="mailto:lena.luciano@thetriangle.org">lena.luciano@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/ElliotRuvalcaba_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Elliott Ruvalcaba</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Opinion Editor </b>
            <a href="mailto:opinion@thetriangle.org">opinion@thetriangle.org</a>
            <a href="mailto:elliott.ruvalcaba@thetriangle.org">elliott.ruvalcaba@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/MichaelDavis_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Michael Davis</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief IT Director </b>
            <a href="mailto:support@thetriangle.org">support@thetriangle.org</a>
            <a href="mailto:michael.davis@thetriangle.org">michael.davis@thetriangle.org</a>

        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/SteveHuynh_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Steve Huynh</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief IT Director </b>
            <a href="mailto:support@thetriangle.org">support@thetriangle.org</a>
            <a href="mailto:steve.huynh@thetriangle.org">steve.huynh@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/GabbyRodriguez_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Gabby Rodriguez</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Social Media Manager </b>
            <a href="mailto:socialmedia@thetriangle.org">socialmedia@thetriangle.org</a>
            <a href="mailto:gabby.rodriguez@thetriangle.org">gabby.rodriguez@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/ZarinaMorgan_byKaseyShamisSmall.jpg" />
            <h3 style="margin-bottom: 0px;">Zarina Morgan</h3>
            <hr style="width:50%;margin: auto"/>
            <b> General Edboard Member </b>
            <a href="mailto:edboard@thetriangle.org">edboard@thetriangle.org</a>
            <a href="mailto:zarina.morgan@thetriangle.org">zarina.morgan@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/LucasTusinean_byKaseyShamis.jpg" />
            <h3 style="margin-bottom: 0px;">Lucas Tusinean</h3>
            <hr style="width:50%;margin: auto"/>
            <b> General Edboard Member </b>
            <a href="mailto:edboard@thetriangle.org">edboard@thetriangle.org</a>
            <a href="mailto:lucas.tusinean@thetriangle.org">lucas.tusinean@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2026/04/TeganDoherty_byKaseyShamis_Scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Tegan Doherty</h3>
            <hr style="width:50%;margin: auto"/>
            <b> General Edboard Member </b>
            <a href="mailto:edboard@thetriangle.org">edboard@thetriangle.org</a>
            <a href="mailto:tegan.doherty@thetriangle.org">tegan.doherty@thetriangle.org</a>
        </div>
    </div>
</section>
</BaseLayout>
