---
    export const prerender = true;
    import BaseLayout from "../layouts/BaseLayout.astro";
    import Header from '../components/Header.astro';
    import '../styles/global.css';
---
<BaseLayout title="Staff - The Triangle">
    <Header/>
<section class="max-w-[1200px] mx-auto">
    <h1 class="font-playfair text-[42px] mb-[16px]"> Our Staff </h1>
    <div class="staff-row">
        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2023/04/paulie-loscalzo-headshot-cropped.jpg" />
            <h3 style="margin-bottom: 0px;">Paulie Loscalzo</h3>
            <hr style="width:50%;margin: auto;"/>
            <b> Editor-in-Chief</b>
            <a href="mailto:editor@thetriangle.org">editor@thetriangle.org</a>
            <a href="mailto:paulie.loscalzo@thetriangle.org">paulie.loscalzo@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/04/IMG_2213-edited-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Shreeya Gounder</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Managing Editor </b>
            <a href="mailto:managingeditor@thetriangle.org">managingeditor@thetriangle.org</a>
            <a href="mailto:shreeya.gounder@thetriangle.org">shreeya.gounder@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/03/emma-1-edited-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Emma Yashinsky</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Staff Manager </b>
            <a href="mailto:apply@thetriangle.org">apply@thetriangle.org</a>
            <a href="mailto:emma.yashinsky@thetriangle.org">emma.yashinsky@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/04/IMG_3937-edited-768x768.png"/>
            <h3 style="margin-bottom: 0px;">Connor Erezuma</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Production Manager </b>
            <a href="mailto:production@thetriangle.org">production@thetriangle.org</a>
            <a href="mailto:connor.erezuma@thetriangle.org">connor.erezuma@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/04/default-profile-picture1-1.jpg" />
            <h3 style="margin-bottom: 0px;">Business Inquiries</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Business Manager </b>
            <a href="mailto:business@thetriangle.org">business@thetriangle.org</a>
            <!-- <a href="mailto:aaditya.ramesh@thetriangle.org">aaditya.ramesh@thetriangle.org</a> -->
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/03/stefan-edited-1-768x768.jpg" />
            <h3 style="margin-bottom: 0px;">Stefan Phillips</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Chief Copy Editor </b>
            <a href="mailto:copyediting@thetriangle.org">copyediting@thetriangle.org</a>
            <a href="mailto:stefan.phillips@thetriangle.org">stefan.phillips@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/03/ryan-edited-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Ryan Keating</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief News Editor </b>
            <a href="mailto:news@thetriangle.org">news@thetriangle.org</a>
            <a href="mailto:ryan.keating@thetriangle.org">ryan.keating@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2024/10/image.png"/>
            <h3 style="margin-bottom: 0px;">Sanjana Bandi</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief News Editor </b>
            <a href="mailto:news@thetriangle.org">news@thetriangle.org</a>
            <a href="mailto:sanjana.bandi@thetriangle.org">sanjana.bandi@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/MaddieDort_byKaseyShamisSmall.jpg" />
            <h3 style="margin-bottom: 0px;">Maddie Dort</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Comics Editor </b>
            <a href="mailto:comics@thetriangle.org">comics@thetriangle.org</a>
            <a href="mailto:maddie.dort@thetriangle.org">maddie.dort@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/daniel_small-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Daniel Epstein</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Comics Editor </b>
            <a href="mailto:comics@thetriangle.org">comics@thetriangle.org</a>
            <a href="mailto:daniel.epstein@thetriangle.org">daniel.epstein@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/04/DSC00206.jpg" />
            <h3 style="margin-bottom: 0px;">Ava Buckingham</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Sports Editor </b>
            <a href="mailto:sports@thetriangle.org">sports@thetriangle.org</a>
            <a href="mailto:ava.buckingham@thetriangle.org">ava.buckingham@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/DSC09905.jpg" />
            <h3 style="margin-bottom: 0px;">Janine Gin</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Sports Editor </b>
            <a href="mailto:sports@thetriangle.org">sports@thetriangle.org</a>
            <a href="mailto:janine.gin@thetriangle.org">janine.gin@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/03/CEA7EC0A-FB86-4AA8-860C-C3094289932F-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Kasey Shamis</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Photo Editor </b>
            <a href="mailto:photos@thetriangle.org">photos@thetriangle.org</a>
            <a href="mailto:kasey.shamis@thetriangle.org">kasey.shamis@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/LucasTusinean_byKaseyShamis.jpg" />
            <h3 style="margin-bottom: 0px;">Lucas Tusinean</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Photo Editor </b>
            <a href="mailto:photos@thetriangle.org">photos@thetriangle.org</a>
            <a href="mailto:lucas.tusinean@thetriangle.org">lucas.tusinean@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/IMG_7096.jpg" />
            <h3 style="margin-bottom: 0px;">Lena Luciano</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief A&E Editor </b>
            <a href="mailto:entertainment@thetriangle.org">entertainment@thetriangle.org</a>
            <a href="mailto:lena.luciano@thetriangle.org">lena.luciano@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/AudreyScott_byKaseyShamisSmall.jpg" />
            <h3 style="margin-bottom: 0px;">Audrey Scott</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief A&E Editor </b>
            <a href="mailto:entertainment@thetriangle.org">entertainment@thetriangle.org</a>
            <a href="mailto:audrey.scott@thetriangle.org">audrey.scott@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/IMG_5848.jpg" />
            <h3 style="margin-bottom: 0px;">Nayab Iqbal</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Opinion Editor </b>
            <a href="mailto:opinion@thetriangle.org">opinion@thetriangle.org</a>
            <a href="mailto:nayab.iqbal@thetriangle.org">nayab.iqbal@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/03/chan-edited-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Chan Chung</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief Opinion Editor </b>
            <a href="mailto:opinion@thetriangle.org">opinion@thetriangle.org</a>
            <a href="mailto:chan.chung@thetriangle.org">chan.chung@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/04/IMG-20250331-WA0015.jpg" />
            <h3 style="margin-bottom: 0px;">Michael Davis</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief IT Director </b>
            <a href="mailto:support@thetriangle.org">support@thetriangle.org</a>
            <a href="mailto:michael.davis@thetriangle.org">michael.davis@thetriangle.org</a>

        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/SteveHuynh_byKaseyShamisSmall.jpg" />
            <h3 style="margin-bottom: 0px;">Steve Huynh</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Co-Chief IT Director </b>
            <a href="mailto:support@thetriangle.org">support@thetriangle.org</a>
            <a href="mailto:steve.huynh@thetriangle.org">steve.huynh@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/07/GabbyHeadshot-2-scaled.jpg" />
            <h3 style="margin-bottom: 0px;">Gabby Rodriguez</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Social Media Manager </b>
            <a href="mailto:socialmedia@thetriangle.org">socialmedia@thetriangle.org</a>
            <a href="mailto:gabby.rodriguez@thetriangle.org">gabby.rodriguez@thetriangle.org</a>
        </div>

        <div class="staff-card">
            <img src="/proxy/wp-content/uploads/2025/10/ZarinaMorgan_byKaseyShamisSmall.jpg" />
            <h3 style="margin-bottom: 0px;">Zarina Morgan</h3>
            <hr style="width:50%;margin: auto"/>
            <b> Outreach Coordinator </b>
            <!-- <a href="mailto:socialmedia@thetriangle.org">socialmedia@thetriangle.org</a> -->
            <a href="mailto:zarina.morgan@thetriangle.org">zarina.morgan@thetriangle.org</a>
        </div>
    </div>
</section>
</BaseLayout>
