---
export const prerender = false;

import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Sections/Section.astro";
import Header from "../components/Header.astro";
import Column from "../components/Columns.astro";
import Social from "../components/Social.astro";
import Poll from "../components/Polls.astro";
import { getClassifieds } from "../utils/db.js";
import Classified from "../components/Classified.astro";
import "../styles/global.css";

const date = new Date();
const date2 = new Date();

date2.setDate(date.getDate() + 30);

function formatDate(d) {
  let month = d.getMonth() + 1;
  if (month < 10) {
    month = "0" + month;
  }

  let day = date.getDate();
  if (day < 10) {
    day = "0" + day;
  }
  return d.getFullYear() + "-" + month + "-" + day;
}

const minDate = formatDate(date);
const maxDate = formatDate(date2);

const classifieds = await getClassifieds();
---

<BaseLayout title="Subscribe - The Triangle">
  <Header />
  <div id="subscribe" class="mt-2 xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto]">
    <h1
    class="font-playfair text-[36px]"
  >
    Subscribe to our Newsletter
  </h1>
  <div
    class="font-crimson text-[16px] my-[16px]"
  >
    Get The Triangle right to your inbox!
  </div>
  <div
    class="grid grid-cols-[1fr] sm:grid-cols-[8fr_4fr] mb-[8px] divide-x divide-triangleBlue pt-[5px]"
  >
    <div id="main-left" class="main-side">
      <h1 class="font-roboto-slab uppercase font-extrabold">Example</h1>
      <iframe src="/tothepoint.html" class="w-[100%] h-[400px] border-[1px] border-black"></iframe>
    </div>
    <div id="main-right" class="hidden sm:block main-side">
      <h1 class="font-roboto-slab uppercase font-extrabold">Subscribe</h1>
      <form
        id="newsletter-form"
        class="mt-[16px] flex flex-wrap xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] gap-[16px] text-[14px]"
      >
        <label class="font-libre w-[100%]">
          <span class="block w-[100%]">Email<b class="text-red-500">*</b></span>
          <input
            type="email"
            name="email"
            required
            class="border-[1px] border-solid border-triangleBlue w-[100%] p-2 rounded-[10px]"
          />
        </label>

        <div class="flex flex-col w-[100%] font-libre">
          <span class="block w-[100%]">Lists<b class="text-red-500">*</b></span>
          <label class="font-libre">
            <input type="checkbox" name="lists" value="1" />
            Drexel Students
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="2" />
            Alumni
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="3" />
            Parents
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="4" />
            Drexel Administrators, Directors and Trustees
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="5" />
            Drexel Faculty
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="6" />
            Advertisers
          </label>

          <label class="font-libre">
            <input type="checkbox" name="lists" value="7" />
            Other
          </label>
        </div>

        <button
          type="submit"
          class="flex font-roboto-slab self-end bg-triangleBlue text-white p-3 w-[160px] justify-center rounded-[10px] border-[1px] border-solid hover:border-triangleBlue hover:bg-white hover:text-triangleBlue"
          >Subscribe</button
        >
      </form>
    </div>
  </div>
  <div class="block md:hidden" id="subscribe-mobile">
    <h1
      class="font-roboto-slab uppercase font-extrabold xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto]"
    >
      Subscribe
    </h1>
    <form
      id="newsletter-form-mobile"
      class="mt-[16px] flex flex-wrap xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] gap-[16px] text-[14px] border-[1px] border-triangleBlue rounded-[10px] p-[16px]"
    >
      <label class="font-libre w-[100%]">
        <span class="block w-[100%]">Email<b class="text-red-500">*</b></span>
        <input
          type="email"
          name="email-mobile"
          required
          class="border-[1px] border-solid border-triangleBlue w-[100%] p-2 rounded-[10px]"
        />
      </label>

      <div class="flex flex-col w-[100%] font-libre">
        <span class="block w-[100%]">Lists<b class="text-red-500">*</b></span>
        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="1" />
          Drexel Students
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="2" />
          Alumni
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="3" />
          Parents
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="4" />
          Drexel Administrators, Directors and Trustees
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="5" />
          Drexel Faculty
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="6" />
          Advertisers
        </label>

        <label class="font-libre">
          <input type="checkbox" name="lists-mobile" value="7" />
          Other
        </label>
      </div>

      <button
        type="submit"
        class="flex font-roboto-slab self-end bg-triangleBlue text-white p-3 w-[160px] justify-center rounded-[10px] hover:border-[1px] hover:border-solid hover:border-triangleBlue hover:bg-white hover:text-triangleBlue"
        >Subscribe</button
      >
    </form>
  </div>
  </div>
  <script>
    document
      .getElementById("newsletter-form")
      .addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = e.target.email.value;

        const lists = Array.from(
          document.querySelectorAll('input[name="lists"]:checked'),
        ).map((el) => Number(el.value));

        const res = await fetch(
          "https://cms.thetriangle.org/wp-json/newsletter/v1/subscribe",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email,
              lists,
            }),
          },
        );

        const data = await res.json();
        if (data.success) {
          document.getElementById("subscribe").innerHTML =
            '<h1 class="text-[36px] font-bold font-roboto-slab mb-2 mt-[48px]"> Thank you for subscribing! </h1><a href="/" class="text-[16px] mt-4 underline font-roboto-slab hover:text-triangleBlue block"> Return to homepage. </a>';
        } else {
          document.getElementById("subscribe").innerHTML =
            '<h1 class="text-[36px] font-bold font-roboto-slab mb-2 mt-[48px]"> Oh no! Something went wrong. </h1><a href="/" class="text-[16px] mt-4 underline font-roboto-slab hover:text-triangleBlue block"> Return to homepage. </a>';
        }
      });

    document
      .getElementById("newsletter-form-mobile")
      .addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = e.target.email.value;

        const lists = Array.from(
          document.querySelectorAll('input[name="lists-mobile"]:checked'),
        ).map((el) => Number(el.value));

        const res = await fetch(
          "https://cms.thetriangle.org/wp-json/newsletter/v1/subscribe",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email,
              lists,
            }),
          },
        );

        const data = await res.json();
        if (data.success) {
          document.getElementById("subscribe").innerHTML =
            '<h1 class="text-[36px] font-bold font-roboto-slab mb-2 mt-[48px]"> Thank you for subscribing! </h1><a href="/" class="text-[16px] mt-4 underline font-roboto-slab hover:text-triangleBlue block"> Return to homepage. </a>';
        } else {
          document.getElementById("subscribe").innerHTML =
            '<h1 class="text-[36px] font-bold font-roboto-slab mb-2 mt-[48px]"> Oh no! Something went wrong. </h1><a href="/" class="text-[16px] mt-4 underline font-roboto-slab hover:text-triangleBlue block"> Return to homepage. </a>';
        }
      });
  </script>
</BaseLayout>
