---
---
<div class="bg-triangleBlue text-white font-roboto-slab max-w-[700px] mx-auto p-5 flex flex-wrap">
    <p>For 100 years, The Triangle has operated as a financially and editorially independent student newspaper. 
        In order to continue this legacy, The Triangle relies on the generosity of our alumni, family, and friends. Please 
        <a class="underline font-bold" target="_blank" rel="noopener noreferrer" href="https://alumni.drexel.edu/s/1683/form/16/form.aspx?sid=1683&gid=2&pgid=4355&content_id=4154">consider donating to The Triangle</a> 
        in order to secure the future of student-journalism at Drexel.</p>
    <a class="inline-block bg-triangleSecondary uppercase p-2 mt-[8px] mx-auto" target="_blank" rel="noopener noreferrer" href="https://alumni.drexel.edu/s/1683/form/16/form.aspx?sid=1683&gid=2&pgid=4355&content_id=4154"> Donate </a>
</div>