---
---
<div class="font-playfair mb-[48px]">
    <h1 class="font-roboto-slab uppercase font-extrabold mb-2"> Polls </h1>
    <form>
        <h3 class="mb-[8px] font-bold"> What is your favorite section of The Triangle?</h3>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> News </label>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> Opinion </label>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> Sports </label>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> Arts & Entertainment </label>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> Comics </label>
        <label class="flex items-center border-solid border-triangleBlue border-[1px] p-[8px] gap-x-2 font-roboto-slab rounded-[5px] mb-[8px] cursor-pointer hover:scale-105"><input type="radio" name="poll"/> Photography </label>
    </form>
</div>