---
import PhotoArticle from "./PhotoArticle.astro";
import { GET } from '../pages/api/[section].ts'

const {section} = Astro.props
let response = await GET({ params: { section } })
const articles = await response.json()
---
<style>
    h3 {
        color: black;
        font-family: "Playfair Display", serif;
        font-size: 42px;
        text-decoration: none;
    }
</style>


<!-- Data fetched at build can be rendered in HTML -->
<section>
    <h1> {section} </h1>
    {articles.map(article => (
        <PhotoArticle title={article.title} text={article.text}/>
    ))}
</section>

