---
import PhotoArticle from "./PhotoArticle.astro";
import { GET } from '../pages/api/[section].ts'

const {section, limit, offset} = Astro.props
let response = await GET({ params: { section, limit, offset } })
const articles = await response.json()
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
    section{
        border-top: 1px solid blue;
    }
    h1 {
        color: black;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
    }
</style>


<!-- Data fetched at build can be rendered in HTML -->
<section>
    <h1> {section} </h1>
    {articles.map(article => (
        <PhotoArticle title={article.title} text={article.excerpt}/>
    ))}
</section>

