---
---
<div class="font-playfair mb-[48px]">
    <h1 class="font-roboto-slab uppercase font-extrabold mb-2"> Follow Us </h1>
    <div class="text-[18px] mb-2 flex items-center gap-x-3 font-playfair">
        <i class="fa-brands fa-instagram text-triangleBlue text-[24px]"></i> <a href="https://www.instagram.com/drexeltriangle/?hl=en" rel="noreferrer">@drexeltriangle</a>
    </div>
    <div class="text-[18px] mb-2 flex items-center gap-x-3 font-playfair">
        <i class="fa-brands fa-x-twitter text-triangleBlue text-[24px]"></i> <a href="https://x.com/DrexelTriangle" rel="noreferrer">@DrexelTriangle</a>
    </div>
    <div class="text-[18px] mb-2 flex items-center gap-x-3 font-playfair">
        <i class="fa-brands fa-letterboxd text-triangleBlue text-[24px]"></i> <a href="https://letterboxd.com/drexeltriangle/" rel="noreferrer">@DrexelTriangle</a>
    </div>
    <div class="text-[18px] mb-2 flex items-center gap-x-3 font-playfair">
        <i class="fa-brands fa-reddit-alien text-triangleBlue text-[24px]"></i> <a href="https://www.reddit.com/user/DrexelTriangle/" rel="noreferrer">u/DrexelTriangle</a>
    </div>
</div>