---
	const response = await fetch("https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Philadelphia?unitGroup=metric&include=current&key=7NQVEHNA74T38VKCKL8BAMFEV&contentType=json", {
      method: "GET"
    })    
    .catch(err => {
        console.error("Error fetching weather data:", err);
    });

    const contentType = response?.headers.get("content-type") || "";
    var temp;
    if(response?.ok && contentType.includes("json")){
        const data = response?.json()
        temp = "Philadelphia: " + parseInt(String(data.currentConditions.temp * 9 / 5 + 32)) + "°F ";
    }
    else {
        temp = "";
    }

---

<div id="temp" class="font-roboto-slab text-[12px] font-thin hidden sm:block">{temp}</div>

