---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body class="w-100 min-h-[100vh"> <!-- dark:bg-triangleDark dark:text-white -->
    <slot />
    <footer class="w-[100%] flex bg-triangleDark py-[24px] px-[12px] text-white justify-center flex-wrap flex-col items-center mt-[96px]">
      <div class="text-center">&copy; 2026 The Triangle. All rights are reserved, except where otherwise noted.</div>
      <div class="text-center">The Triangle is an independent student organization and is not owned nor operated by Drexel University.</div>
    </footer>
  </body>
</html>
