---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body class="w-100 min-h-screen flex flex-col"> <!-- dark:bg-triangleDark dark:text-white -->
    <main class="flex-1">
      <slot />
    </main>
    <footer class="w-[100%] flex border-solid border-t-[1px] border-triangleDark py-[24px] px-[12px] justify-center flex-wrap flex-col items-center bg-white mt-[96px]">
      <img src="/old_logos/old_logo_14.svg" class="w-[60%] sm:w-[300px] md:w-[400px] lg:w-[500px]"/>
      <nav class="flex gap-[24px] mt-[12px] xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] justify-around md:justify-between py-[12px] flex-wrap md:flex-nowrap">
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/about"> About </a>
          <a class="hover:underline font-[100]" href="/contact"> Contact Us </a>
          <a class="hover:underline font-[100]" href="https://docs.google.com/forms/d/e/1FAIpQLScra_6sUenvmpIuQ5FjmMyWO0a2sz9z36HkrqfnYQvJGH9BGQ/viewform" target="_blank" rel="noopener noreferrer"> Join The Triangle </a>
          <a class="hover:underline font-[100]" href="/staff"> Staff </a>
          <!-- <a class="hover:underline font-[100]" href="/find"> Find-A-Triangle </a> -->
          <a class="hover:underline font-[100]" href="/photo"> Photo Gallery </a>
          <a class="hover:underline font-[100]" href="https://drexel.primo.exlibrisgroup.com/discovery/collectionDiscovery?vid=01DRXU_INST:01DRXU&inst=01DRXU_INST&collectionId=81448731180004721" target="_blank" rel="noopener noreferrer"> Print Archive </a>
        </div>
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/news"> News </a>
          <a class="hover:underline font-[100]" href="/academic-transformation"> Academic Transformation </a>
          <a class="hover:underline font-[100]" href="/politics-news"> Politics </a>
          <a class="hover:underline font-[100]" href="/transit"> Transit </a>
          <a class="hover:underline font-[100]" href="/administration"> Administration </a>
          <a class="hover:underline font-[100]" href="/crime-report"> Crime & Policy Violations </a>
        </div>
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/sports"> Sports </a>
          <a class="hover:underline font-[100]" href="/mens-basketball"> Men's Basketball </a>
          <a class="hover:underline font-[100]" href="/womens-basketball"> Women's Basketball </a>
          <a class="hover:underline font-[100]" href="/philly-sports"> Philly Sports</a>
          <a class="hover:underline font-[100]" href="/athlete-of-the-week"> Athlete of the Week </a>
          <a class="hover:underline font-[100]" href="/mens-soccer"> Men's Soccer </a>
          <a class="hover:underline font-[100]" href="/womans-soccer"> Women's Soccer </a>
          <a class="hover:underline font-[100]" href="/mens-wrestling"> Wrestling </a>
          <!-- <a class="hover:underline font-[100]" href="/tennis"> Tennis </a>
          <a class="hover:underline font-[100]" href="/womens-field-hockey"> Field Hockey </a>
          <a class="hover:underline font-[100]" href="/swimming-diving"> Swimming & Diving </a> -->
        </div>
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/opinion"> Opinion </a>
          <a class="hover:underline font-[100]" href="/science-and-tech"> Science & Tech </a>
          <a class="hover:underline font-[100]" href="/from-the-editor"> From the Editor </a>
          <br/>
          <a class="hover:underline font-extrabold text-[16px]" href="/columns"> Columns </a>
          <a class="hover:underline font-[100]" href="/the-love-triangle"> The Love Triangle </a>
          <a class="hover:underline font-[100]" href="/tri-this-sweet-treats"> Tri This Sweet Treat </a>
        </div>
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/entertainment"> Entertainment </a>
          <a class="hover:underline font-[100]" href="/movies"> Movies </a>
          <a class="hover:underline font-[100]" href="/music-entertainment"> Music </a>
          <a class="hover:underline font-[100]" href="/whats-happening-in-philly"> Happening in Philly </a>
          <a class="hover:underline font-[100]" href="/cooking-entertainment"> Cooking </a>
          <a class="hover:underline font-[100]" href="/books"> Books </a>
          <a class="hover:underline font-[100]" href="/gaming-entertainment"> Gaming </a>
          <a class="hover:underline font-[100]" href="/listicles"> Listicles </a>
        </div>
        <div class="flex flex-col font-roboto-slab text-[12px] w-[40%] md:w-[auto]">
          <a class="hover:underline font-extrabold text-[16px]" href="/candp"> Comics & Puzzles </a>
          <a class="hover:underline font-[100]" href="/political-cartoons"> Political Cartoons </a>
          <a class="hover:underline font-[100]" href="/crossword"> Crossword </a>
          <a class="hover:underline font-[100]" href="/sudoku"> Sudoku </a>
          <br/>
          <a class="hover:underline font-extrabold text-[16px]" href="/"> Special Editions </a>
          <a class="hover:underline font-[100]" href="/welcomeweek"> Welcome Week </a>
          <a class="hover:underline font-[100]" target="_blank" href="https://therectangle.org"> The Rectangle </a>
          <a class="hover:underline font-[100]" href="/one-hundred-years"> 100 Year Anniversary </a>
        </div>
      </nav>
      <hr/>
      <div class="text-center text-[12px]">&copy; 2026 The Triangle. All rights are reserved, except where otherwise noted.</div>
      <div class="text-center text-[12px]">The Triangle is an independent student organization and is not owned nor operated by Drexel University.</div>
    </footer>


    <script>
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);

      (function() {
        var u = "https://thetriangle.org/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']); // same site ID as WP
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
      })();
    </script>

    <script>
      document.addEventListener("astro:page-load", () => {
        if (window._paq) {
          _paq.push(['setCustomUrl', window.location.href]);
          _paq.push(['setDocumentTitle', document.title]);
          _paq.push(['trackPageView']);
        }
      });
    </script>


  </body>
</html>
